@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  scroll-behavior: smooth;
}


body {
  background:
    radial-gradient(
      circle at top,
      #1e293b,
      #020617
    );

  color:white;
}